<section id="event">
  <div class="page-wrap">
    <div class="col-md-6 col-xs-12">
      <h2>The Event</h2>
      <p>A one-day not-for-profit conference about node.js, server-side and embedded JavaScript technologies in Barcelona.</p>
      <ul>
        <li class="">
          · One day, one track
        </li>

        <li class="">
          · Workshops and activities
        </li>

        <li class="">
          · Mediterranean style lunch and coffee breaks at the venue
        </li>

        <li class="">
          · All English talks
        </li>
      </ul>
      <img class="mobile" src="/assets/img/bcn-fondo.png">

    </div>
    <div class="col-md-6 col-xs-3 desktop">
      <img data-pin-nopin="true" src="/assets/img/bcn-fondo.png">
    </div>
  </div>
</section>
