<footer class="footer">
    <div class="wrap">
        <div class="row">
            <div class="col-xs-6 start-xs">
                <h4>A BarcelonaJS event.</h4>
                <p class="text-muted">Organisers, sponsors and attendees are required to follow the <a href="http://barcelonajs.org/code.html">BarcelonaJS Code of Conduct</a>.</p>
            </div>

            <div class="col-xs-6 end-xs">
                                <a href="http://barcelonajs.org">
                    <img class="logo-footer" src="assets/img/logo_bcnjs@2x.png" alt="BarcelonaJS Logo">
                </a>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
!function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
insertBefore(d,q)}(window,document,'script','_gs');

_gs('GSN-267775-D');
</script>
