<footer class="footer">
  <div class="page-wrap">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-4 col-md-4 col-xl-4">
        <h6>Powered by </h6>
        <img class="logo-footer-nodeconf" src="assets/img/nodeconf.svg" alt="NodeConf Logo">
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 col-xl-4">
        <h6>Organized by <a target="_blank" href="http://blended.io">blended.io</a></h6>
        <a target="_blank" href="http://blended.io">
          <img class="logo-footer-blended" src="assets/img/blended.png" alt="blended Logo">
        </a>
      </div>

    </div>
  </div>
  <div class="contact">

    <div class="wrap">
      <h6> Barcelona NodeConf · 2017 </h6>
      <h6>Organisers, sponsors and attendees are required to follow the <a target="_blank" href="/code-conduct.html"><b>Code of Conduct</b></a> </h6>
      <span class="link-wrap">
        <a target="_blank" onclick="_gs('event', 'Footer: twitter')" href="https://twitter.com/NodeConfBcn"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="mailto:nodeconf@blended.io"><i class="fa fa-envelope"></i></a>
        <script async defer src="https://nodeconfbcn-slackinviter.herokuapp.com/slackin.js?"></script>
      </span>
    </div>
    <div class="wrap extra-info">
      Logo designed by <a target="_blank" href="http://baianai.es/"><img src="assets/img/baianai.png"></a>
    </div>
  </div>
  <div id="cookies" class="cookies">
    <div class="container">
      <p>This website uses web analysis services provided by Go Squared Ltd. ("GoSquared"). By continuing to use the site, you are agreeing to our use of cookies.</p>
      <p>For more information on GoSquared's practices and policies, please see
        <a href="https://www.gosquared.com/legal/" target="_blank">https://www.gosquared.com/legal/</a>
      </p>
      <button type="button" id="closeCookies"><i class="fa fa-remove"></i></button>
    </div>
  </div>
</footer>
</body>

</html>
