<footer class="footer">
  <div class="wrap">
    <div class="row top-xs">
      <div class="col-xs-12 col-md-4 col-xl-4 footer-left">
        <h6>Powered by </h6>
        <img class="logo-footer-nodeconf" src="assets/img/nodeconf.svg" alt="NodeConf Logo">
      </div>

      <div class="col-xs-12 col-md-4 col-xl-4 center-xs">
        <h6>A BarcelonaJS event</h6>
        <a href="http://barcelonajs.org">
          <img class="logo-footer-bcnjs" src="assets/img/logo_bcnjs@2x.png" alt="BarcelonaJS Logo">
        </a>
      </div>

      <div class="col-xs-12 col-md-4 col-xl-4 footer-right credits">
        <h6>Organized by</h6>

            <span><a href="http://twitter.com/PatrickHeneise">@PatrickHeneise</a></span><br>
            <span><a href="http://twitter.com/distributedLeo">@distributedLeo</a></span><br><br>

      </div>

    </div>
  </div>
</footer>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  ! function(g, s, q, r, d) {
    r = g[r] = g[r] || function() {
      (r.q = r.q || []).push(
        arguments)
    };
    d = s.createElement(q);
    q = s.getElementsByTagName(q)[0];
    d.src = '//d1l6p2sc9645hc.cloudfront.net/tracker.js';
    q.parentNode.
    insertBefore(d, q)
  }(window, document, 'script', '_gs');

  _gs('GSN-267775-D');
  function gmaps() {
    var position = {lat: 41.3870876, lng: 2.1717197},
        mapCanvas = document.getElementById('map'),
        mapOptions = {
        center: new google.maps.LatLng(41.3870876, 2.1717197),
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    },
    map = new google.maps.Map(mapCanvas, mapOptions),
    marker = new google.maps.Marker({
        position:position,
        map: map,
        title: 'MWC'
    });
  }
  google.maps.event.addDomListener(window, 'load', gmaps);
</script>
</body>
</html>
