<section class="row">
  <div class="page-wrap">
    <h4>GETTING THERE</h4>
    <p>Conference is held in the <a href="https://www.mobileworldcentre.com" target="_blank">Mobile World Centre</a> <br> C/ Fontanella 2, 08001 Barcelona</p>

    <p>Public transport stop is <emph>Plaça Catalunya</emph> for</p>
    <ul>
      <li>Metro (<a href="http://www.tmb.cat/en/home" target="_blank">TMB</a>)</li>
      <li>Train (<a href="http://www.fgc.cat/eng/" target="_blank">FGC</a> and <a href="http://www20.gencat.cat/portal/site/rodalies/menuitem.9e250df67e11eb0471738010b0c0e1a0/?vgnextoid=f91a3dfb39fbb210VgnVCM1000000b0c1e0aRCRD&amp;vgnextchannel=f91a3dfb39fbb210VgnVCM1000000b0c1e0aRCRD&amp;vgnextfmt=default"
      target="_blank">RENFE</a>)</li>
      <li>Bus (<a href="http://www.tmb.cat/en/home" target="_blank">TMB</a>, <a href="http://www.aerobusbcn.com/" target="_blank">Aerobus</a>).
    </ul>
  </div>
</section>
