<section class="get-there">
  <div class="page-wrap">
    <h4>HOW TO GET THERE</h4>
    <div class="row">
      <div class="col-md-7 col-xs-12">

        <p>Conference is held in the <a href="https://www.mobileworldcentre.com" target="_blank">Mobile World Centre.</a> <br> C/ Fontanella 2, 08001 Barcelona</p>

        <p>Public transport stop is <em>Plaça Catalunya</em>. You can get there by:</p>
        <ul>
          <li>- Metro (<a href="http://www.tmb.cat/en/home" target="_blank">TMB</a>)</li>
          <li>- Train (<a href="http://www.fgc.cat/eng/" target="_blank">FGC</a> · <a href="http://www20.gencat.cat/portal/site/rodalies/menuitem.9e250df67e11eb0471738010b0c0e1a0/?vgnextoid=f91a3dfb39fbb210VgnVCM1000000b0c1e0aRCRD&amp;vgnextchannel=f91a3dfb39fbb210VgnVCM1000000b0c1e0aRCRD&amp;vgnextfmt=default"
          target="_blank">RENFE</a>)</li>
          <li>- Bus (<a href="http://www.tmb.cat/en/home" target="_blank">TMB</a> · <a href="http://www.aerobusbcn.com/" target="_blank">Aerobus</a>).
        </ul>
      </div>

        <iframe id="map" class="col-md-5 col-xs-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.4068436579723!2d2.16953381514827!3d41.3869701792643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2f1189933d5%3A0xdadcb01c53af6c88!2sMobile+World+Centre!5e0!3m2!1sca!2ses!4v1471449733118"  frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
  </div>
</section>
