<header role="banner" class="header">
  <div class="row">
    <div class="logo col-xs-12">
      <a href="/" class="logo nodeconf center-block"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-md-10 col-md-offset-1 text-center">
      <p>NodeConf Barcelona is the Barcelona-edition of the longest running community driven conference for the Node community. After the very successful <a href="http://wenode.barcelonajs.org">WeNode-conference</a> last year we're back as "NodeConf Barcelona".
        Let's celebrate this year of exciting moments like the release of node.js v4.0.0 together with great talks and discussions.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>NodeConf Barcelona</h2>
      <p class="mb0">November 21st</p>
      <p>Barcelona, Spain, Mobile World Capital</p>
      <a href="https://ti.to/barcelonajs/nodeconf" class="btn btn-default btn-lg">Tickets coming soon!</a>
    </div>
  </div>
</header>
