<div class="header">
  <div class="row">
    <div class="wrapper">
      <a class="logo" href="/">
        <img src="/assets/img/nodeconfBarcelona.png">
      </a>
      <h1 class="header-title"> BARCELONA NODECONF 2017</h1>
      <div class="row center-xs">
        <div class="col-xs-12 margin-top">
          <p class="venue-location">
            April 7th · <a href="https://www.mobileworldcentre.com">Barcelona Mobile World Centre</a>
          </p>

          <div class="col-xs-12">

            <a href="https://ti.to/blended/nodeconf-barcelona-2017" target="_blank" class="button">GET YOUR TICKET</a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='scroll-down desktop'></div>
</div>
