<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{#if title}}
    <title>NodeConf - {{title}}</title>
    {{else}}
    <title>NodeConf Barcelona 2016</title>
    {{/if}}
    <link rel="stylesheet" href="/assets/css/flexboxgrid.min.css">
    <link rel="stylesheet" href="/assets/css/nodeconf.css" />
    <script src="/assets/main.js" /></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <meta property="og:site_name" content="NodeConf Barcelona">
    <meta property="og:title" content="NodeConf Barcelona">
    <meta property="og:url" content="http://barcelona.nodeconf.com">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nodeconfbcn">
    <meta name="twitter:title" content="NodeConf Barcelona">
    <meta name="description" content="NodeConf Barcelona is the Barcelona-edition of the longest running community driven conference for the Node community. ">
    <meta property="og:description" content="NodeConf Barcelona is the Barcelona-edition of the longest running community driven conference for the Node community. ">
    <meta name="twitter:description" content="NodeConf Barcelona is the Barcelona-edition of the longest running community driven conference for the Node community. ">
    <meta property="og:image" content="http://barcelona.nodeconf.com/assets/img/nodeconf-thumb.png">
    <meta name="twitter:image" content="http://barcelona.nodeconf.com/assets/img/nodeconf-thumb.png">
    <script src="https://use.fontawesome.com/19fc9566a4.js"></script>
</head>
