<section id="venue" class="venue">
  <div class="wrap">
    <div class="row">
      <div class="col-xs-12">
        <h2>Info & Contact</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <h4>Welcome to <a href="http://www.barcelona.nodeconf.com">Barcelona NodeConf</a>!</h4>
        <p>A full day conference in the center of Barcelona including:</p>
        <ul>
          <li>One full day conference</li>
          <li>Single track</li>
          <li>Talks ranging from beginners to expert levels</li>
          <li>Coffee breaks and refreshments throughout the day</li>
          <li>Mediterranean-style lunch menu served right on the venue</li>
          <li>Talk to amazing people from all over Europe</li>
        </ul>
        <h4>How to reach the conference</h4>
        <p>Conference is held in the <a href="http://mobileworldcapital.com/en/page/51" target="_blank">Mobile World Capital Barcelona building</a>. Public transport stop is
          <emph>Plaça Catalunya</emph> for Metro (<a href="http://www.tmb.cat/en/home" target="_blank">TMB</a>), Train (<a href="http://www.fgc.cat/eng/" target="_blank">FGC</a>, <a href="http://www20.gencat.cat/portal/site/rodalies/menuitem.9e250df67e11eb0471738010b0c0e1a0/?vgnextoid=f91a3dfb39fbb210VgnVCM1000000b0c1e0aRCRD&amp;vgnextchannel=f91a3dfb39fbb210VgnVCM1000000b0c1e0aRCRD&amp;vgnextfmt=default"
          target="_blank">RENFE</a>) and bus (<a href="http://www.tmb.cat/en/home" target="_blank">TMB</a>, <a href="http://www.aerobusbcn.com/" target="_blank">Aerobus</a>).
        </p>
      </div>
      <div class="col-xs-12 col-md-5">
        <div id="map"></div>
      </div>
    </div>
  </div>
  <div class="row nodeconf-photo">
  </div>
  </div>
</section>
