<div class="nav-menu" id="header">
  <nav class="page-wrap">
    <ul>
      <li class="logo-wrap">
        <a href="/"><img class="nav-logo" src="/assets/img/nodeconf.svg"> <span>   · Barcelona 2017</span> </a>
      </li>
      <li class="menu-button" id="open-menu"><i class="fa fa-bars" aria-hidden="true"></i></li>
      <li><a href="/code-conduct.html">Code of conduct</a></li>
      <li><a href="/#team">Team</a></li>
      <li><a href="/#get-there">Venue</a></li>
      <li><a href="/#sponsors">Sponsors</a></li>
      <li><a href="/#speakers">Speakers</a></li>
    </ul>
  </nav>
  <div class="menu-mobile mobile" id="menu">
    <ul class="page-wrap">
      <li><a href="/#team">Team</a></li>
      <li><a href="/#get-there">Venue</a></li>
      <li><a href="/#sponsors">Sponsors</a></li>
      <li><a href="/#speakers">Speakers</a></li>
      <li><a href="/code-conduct.html">Code of conduct</a></li>
      <li id="close-menu"> <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-times fa-stack-1x fa-inverse" aria-hidden="true"></i></span></li>
    </ul>
  </div>
</div>
