<section id="schedule">
  <h2 class="center m3">Schedule</h2>

  <table>
    <thead>
      <th>
        <tr>
          <td colspan="2">
            Saturday, November 21
          </td>
        </tr>
      </th>
    </thead>
    <tfoot></tfoot>
    <tbody>
      <tr>
        <th>09.30 - 10.00</th>
        <td>Registration & Opening</td>
      </tr>
      <tr>
        <th>10.00 - 11.45</th>
        <td>Talks</td>
      </tr>
      <tr>
        <th>11.45 - 12.15</th>
        <td>Coffee Break</td>
      </tr>
      <tr>
        <th>12.15 - 14.00</th>
        <td>Talks</td>
      </tr>
      <tr>
        <th>14.00 - 15.00</th>
        <td>Lunch Break</td>
      </tr>
      <tr>
        <th>15.00 - 16.45</th>
        <td>Talks</td>
      </tr>
      <tr>
        <th>16.45 - 17.15</th>
        <td>Coffee Break</td>
      </tr>
      <tr>
        <th>17.15 - 19.00</th>
        <td>Talks</td>
      </tr>
      <tr>
        <th>19.00 - 19.15</th>
        <td>Discussion Round I</td>
      </tr>
      <tr>
        <th>19.15 - 19.30</th>
        <td>Discussion Round II</td>
      </tr>
      <tr>
        <th>19.30 - 19.45</th>
        <td>Discussion Round III</td>
      </tr>
      <tr>
        <th>19.45</th>
        <td>Farewell & Saturday Night Party</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <th>
        <tr>
          <td colspan="2">
            Sunday, November 22
          </td>
        </tr>
      </th>
    </thead>
    <tfoot></tfoot>
    <tbody>
      <tr>
        <th>10.30 - 11.00</th>
        <td>Registration & Opening</td>
      </tr>
      <tr>
        <th>11.00 - 18.00</th>
        <td>Workshop: Advanced Node.Js With Igor Soarez, Hassy Veldstra and Tom Gallacher</td>
      </tr>
    </tbody>
  </table>
</section>
