<section id="schedule">
  <h2 class="center m3">Schedule</h2>

  <table>
    <thead>
      <th>
        <tr>
          <td colspan="2">
            November 21
          </td>
        </tr>
      </th>
    </thead>
    <tfoot></tfoot>
    <tbody>
      <tr>
        <th>09.30 - 10.00</th>
        <td>Registration & Opening</td>
      </tr>
      <tr>
        <th>10.00 - 11.45</th>
        <td>Morning Talks</td>
      </tr>
      <tr>
        <th>12.15 - 13.45</th>
        <td>Morning Talks</td>
      </tr>
    </tbody>
  </table>
</section>
