<section class="sponsors wrap" id="sponsors">
  <h2 class="center">Sponsors</h2>
    {{#each sponsors}}
      <div class="row">
        <div class="col-xs-12">
        <!--  <h3>{{category}}</h3> -->
        </div>
        {{#each companies}}
          <div class="col-xs-12 col-sm-3">
            <a class="sponsor {{name}}" style="background-image: url(/assets/img/sponsors/{{logo}});" href="{{url}}"><span>{{name}}</span></a>
          </div>
        {{/each}}
      </div>
    {{/each}}
  <div class="row">
    <div class="col-xs-12">
      <p>We're still looking for more amazing companies willing to support this event. Sponsorship information can be found <a href="/sponsors.html">here</a>. If you are interested in sponsoring, please drop an email to <a href="mailto:patrick@barcelonajs.org?subject=NodeConf Sponsoring">patrick@barcelonajs.org</a>        for more details.</p>
    </div>
  </div>
</section>
