<section id="team">
  <div class="page-wrap">
    <img class="icon" src="assets/img/icons/team.png" alt="">
    <h2>Team</h2>
    <div class="row">

      {{#each team}}
        <div class="col-md-3 col-sm-3 col-xs-6 text-center">
          <div class="hex-wrap">
            <div class="bg-img" style="background-image:url(/assets/img/team/{{portrait}})">
            </div>
          </div>

          <a href="{{link}}">
            <p> {{name}} </p>
          </a>

        </div>
      {{/each}}

    </div>
  </div>
</section>
