<section class="introduction wrap">
  <div class="row">
    <div class="col-xs-12">
      <p><b>NodeConf Barcelona</b> is the Barcelona-edition of the longest running community driven conference for the Node community. After the very successful <a onclick="_gs('event', 'Clicked WeNode link')" href="http://wenode.barcelonajs.org">WeNode-conference</a>        last year we're back as "NodeConf Barcelona".
        <br />
        <br />Let's celebrate this year of exciting moments like the release of Node.js <span style="text-decoration: line-through;">v4.0.0</span> <strong>5.0.0</strong> together with great talks and discussions.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Features</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-2 feature">
      +12 International Speakers
    </div>

    <div class="col-xs-12 col-md-2 feature">
      Mediterranean style catering
    </div>

    <div class="col-xs-12 col-md-2 feature">
      One day, one track
    </div>

    <div class="col-xs-12 col-md-2 feature">
      Workshops and activities
    </div>

    <div class="col-xs-12 col-md-2 feature">
      Coffee breaks at the venue
    </div>

    <div class="col-xs-12 col-md-2 feature">
      All English talks
    </div>
  </div>
</section>


<section class="teaser">
    <div class="wrap">
  <div class="row">
    <div class="col-xs-12">
      <b>NodeConf Barcelona</b>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-explanation">
      <p>A one-day not-for-profit conference about node.js, server-side and embedded JavaScript technologies.</p>
      <p>Organised by <a href="http://barcelonajs.org">BarcelonaJS</a> for the community.</p>
    </div>

    <div class="col-xs-12 col-sm-4 col-explanation">
      <p>Una conferència d'un dia sense ànim de lucre sobre node.js, i tecnologies server-side i embedded Javascript.</p>
      <p>Organitzat des de <a href="http://barcelonajs.org">BarcelonaJS</a> per a la comunitat.</p>
    </div>

    <div class="col-xs-12 col-sm-4 col-explanation">
      <p>Una conferencia de un día sin animo de lucro sobre tecnologías node.js, server-side y embedded Javascript.</p>
      <p>Organizado desde <a href="http://barcelonajs.org">BarcelonaJS</a> para la comunidad.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p class="coc">
        Organisers, sponsors and attendees are required to follow the <a href="http://barcelonajs.org/code.html"><b>Code of Conduct</b></a>
      </p>
    </div>
  </div>
  </div>
</section>
