@import 'partials/_vars.scss';

@mixin hexagon($factor) {
  position: relative;
  width: 150px * $factor;
  left: 40px * $factor;
  height: 86.60px * $factor;
  margin: 43.30px * $factor 0;
  background-color: #88bf43;
  background-size: auto 173.2051px * $factor;
  background-position: center;
  display: inline-block;
  text-align: left;

  &.hexagon-center {
    margin-left: -75px * $factor;
  }

  &.hexagon-tile {
    margin-left: -75px * $factor / 2;
    margin-right: 75px * $factor / 2;
    margin-bottom: 0;
  }

  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: 106.07px * $factor;
    height: 106.07px * $factor;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 21.97px * $factor;
  }

  /*counter transform the bg image on the caps*/
  .hexTop:after,
  .hexBottom:after {
    content: "";
    position: absolute;
    width: 150.0000px * $factor;
    height: 86.60254037844388px * $factor;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-43.3013px * $factor);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-43.3013px * $factor);
    transform: rotate(45deg) scaleY(1.7321) translateY(-43.3013px * $factor);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
  }

  .hexTop {
    top: -53.0330px * $factor;
  }

  .hexTop:after {
    background-position: center top;
  }

  .hexBottom {
    bottom: -53.0330px * $factor;
  }

  .hexBottom:after {
    background-position: center bottom;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0.0000px * $factor;
    left: 0;
    width: 150.0000px * $factor;
    height: 86.6025px * $factor;
    z-index: 2;
    background: inherit;
  }
}


// CSS
html {
  position: relative;
  min-height: 100%;
}

a {
  color: $green;
}

body {
  margin-bottom: 300px;
  font: 300 14px/1.5 'Source Sans Pro',Open Sans,Roboto,Helvetica,Arial,sans-serif;
}

p, a, span {
  font: 300 14px/1.5 'Source Sans Pro',Open Sans,Roboto,Helvetica,Arial,sans-serif;
}

.header {
  background-color: $dark;
  color: white;
  padding: 50px;
}

.btn {
  background-color: $green;
  color: white;
  border: 0;
  margin: 25px;
}

.info {
  font-weight: 500;
  font-size: 18px;
}

.nodeconf {
  display: block;
  max-width: 350px;
  height: 50px;
  width: 350px;
  color: white;
  background-image: url(/assets/img/nodeconf.svg);
}

.venue-hexagon {
  @include hexagon(1.1);
}

.venue-hexagon-col {
  margin-bottom: 30px;
}

.content {
  max-width: 1200px;
  margin: 20px auto;
}

.footer {
  margin-top: 25px;
  background-color: $gray;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 250px;
}

.footer p {
  color: #f0f0f0;
}

.footer a {
  color: $green;
}

.logo-footer {
  width: 100px;
  height: 100px;
}

.sponsors-table td:nth-child(2n+1) {
  background-color: #f3f9ec;
  text-shadow: 0 0.1em 0.1em white;
}
.sponsors-table td[colspan="5"] {
  background-color: white;
}
