@import 'partials/_vars.scss';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

html, body {
    margin:0;
    font-family: Source Sans Pro;
    font-size: 1.2em;
    font-weight: 300;
    padding:0;
    overflow-x:hidden;
}

.header {
  background-color: $dark;
  color: white;
  padding:4em;
  text-align:center;
  a {
    font-weight: 600;
  }
}

.logo {
    width:650px;
}

a.btn {
    padding: 8px 22px;
    font-weight: 800;
    margin-bottom:0.67em;
    background-color: $green;
    color:$white;
    text-decoration: none;
    border-radius:2px;
}

a.btn:hover {
    background-color: #719e12;
}

.venue-location {
    font-weight: 400;
}

a {
    color:$green;
    text-decoration: none;
}

.wrap {
    max-width: 1200px;
    margin:0 auto;
    padding:2em;
}

.venue-explanation {
    background-color: $green;
    color:$white;
}

.venue-features {
    font-size:0.8em;
    padding-left:2em;
    color:$green;
}


.col-explanation a {
    color:$white;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

.feature {
    float:left;
    display:inline;
    color: $green;
    font-weight: 400;
}

footer {
    background-color: $dark;
    color:$white;

    .logo-footer {
        width:200px;
    }
}

.speaker {
    float:left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    .speaker-portrait {
        border-radius:50%;
        width: 45%;
    }

    .speaker-name {
        color:$white;
    }

    .speaker-talk {
        font-size:0.7em;
        color:$white;
        display:none;
    }

    a {
        color:$white;
        font-weight: 600;
    }
}

.speakers {
    background-color: $green;
}

.green-title {
    color:$white;
}

tbody th {
    background-color: $green;
    color: #fff;
    font-weight: 600;
    text-align: center;
    width:225px;
}

tbody td {
    text-align:left;
    padding-left:1em;
    background-color: #eee;
}

thead td{
    font-weight: 800;
    background-color: $dark;
    color: #fff;
    padding:0.6em!important;
}


table {
    width:100%;
    border:none;
}

@media(max-width:768px) {
    .speaker-portrait {
        width:35%!important;
    }
}

.sponsor {
    float:left;
    .sponsor-logo {
        width:50%;
    }
}
