@import 'partials/_vars.scss';

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700);
html,
body {
  margin: 0;
  font-family: PT Sans;
  font-size: 1.2em;
  font-weight: 300;
  padding: 0;
  overflow-x: hidden;
  color:$light;
  background: $main;
}


a {
  color: white;
  text-decoration: none;
}
a:hover {
  color:#d69d9d;
}
h2, h4 {
  color:white;
  letter-spacing: 2px;
}
ul, li {
  list-style: none;
}

.desktop {
  display: block;
}
.mobile {
  display:none !important;
}
.text-center {
  text-align: center;
}
.page-wrap {
  max-width: 1000px;
  margin: auto;
}
.header {
  background: linear-gradient(318deg, #fdbf61, #f5a16f, rgb(255, 163, 102), #ffa37f, #ff7f7f, #ef9351, #ffa37f, #d098af, #fbae94, #ffb94f, #ffcc66, #ff7f7f, #d8a0bc);
  -moz-animation: SunsetGradient 101s linear infinite;
  -o-animation: SunsetGradient 101s linear infinite;
  animation: SunsetGradient 101s linear infinite;
  background-size: 1000% 1000%;
  padding: 0;
  text-align: center;
  height: 100vh;

  a {
    font-weight: 500;
  }
  .scroll-down {
    width: 25px;
    height: 44px;
    margin: 160px auto 0 auto;
    box-shadow: inset 0 0 0 1px $main;
    border-radius: 25px;
    position: absolute;
    bottom: 2em;
    margin-left: 50%;
  }
  .scroll-down:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: $main;
    margin-left: -2px;
    top: 10px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }

}

//header animations
@keyframes scroll {
  0% {opacity: 1;}
  100% {opacity: 0; transform: translateY(23px);}

}

@-webkit-keyframes SunsetGradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-moz-keyframes SunsetGradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-o-keyframes SunsetGradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@keyframes SunsetGradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}



.header-title {
  font-size: 1.8em !important;
  margin-top: 40px;
  color:#391e45;
}

.wrapper {
  color: $dark;
  padding: 1em;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 550px;
  max-height: 500px;
}

.wrap {
  //height:215px;
  margin: 0 auto;
  padding: 2em;
}

.logo {
  max-width: 300px;
  img {
    max-width: 250px;
    position: relative;
  }

  &::before {
    background-image: url("/assets/img/sun@2x.png");
    opacity: 0.9;
    position: absolute;
    left: 50%;
    margin-top: 125px;
    max-width: 440px;
    -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-background-size: contain;
      -moz-background-size: contain;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      pointer-events: none;
      content: '';
      width: 180%;
      padding-bottom: 180%;
      -webkit-transition: -webkit-transform 1s, opacity 1s;
      -moz-transition: -moz-transform 1s, opacity 1s;
      -o-transition: -o-transform 1s, opacity 1s;
      -ms-transition: -ms-transform 1s, opacity 1s;
      transition: transform 1s, opacity 1s;
      -webkit-transform-origin: 300% 300%;
      -moz-transform-origin: 300% 300%;
      -o-transform-origin: 300% 300%;
      -ms-transform-origin: 300% 300%;
      transform-origin: 300% 300%;
  }
}
.logo:hover:before {

    -webkit-transform: scale(1.2) translate3d(0, 0, 0);
    -moz-transform: scale(1.2) translate3d(0, 0, 0);
    -o-transform: scale(1.2) translate3d(0, 0, 0);
    -ms-transform: scale(1.2) translate3d(0, 0, 0);
    transform: scale(1.2) translate3d(0, 0, 0);
}

.venue-location {
  opacity: 0.7;
  font-size: 0.8em;
  margin-top:-20px;
    margin-bottom: 40px;
    color: $main;
    a {
      color:$main;
      &:hover{
        color:$main;
      }
    }

}


a.button {

  text-decoration: none;
  color: #fff;
  font-size: 0.7em;

  display: inline-block;
  padding: 20px 30px;
  position: relative;
  z-index: 1;

  overflow: hidden;
  transition: all 1s cubic-bezier(0.65,0.6,0.2,4);

  &:before, &:after {

    position: absolute;
    content: '';
    display: block;
  }

  &:before{
    top: -120px;
    left: 1150px;
    z-index: -1;
    width: calc(100% + 140px);
    height: 100px;
    transition: all 1s cubic-bezier(0.25,0.1,0.2,1);
    transform: skew(0deg);
    background: #ff936e;

  }

  &:after {
    top: 0;
    left: 0;
    z-index: -2;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: #ff6631;
    border-radius: 3px;

  }


  &:hover{
      border-radius: 3px;
    &:before {
      left: -50px;
      top: -20px;
    }
  }

}

//sticky header
#header {
  background: $main;
  height:45px;
  width:100%;
  z-index:2;


  ul {
    margin:0;
    .nav-logo {
      height:16px;
    }
    li {
      color:white;
      display:inline-block;
      padding: 10px 20px;
      float:right;
      font-size: 0.7em;
      cursor:pointer;

      &:first-child {

        font-size:17px;
        letter-spacing: 2px;
        padding:10px 40px 10px 0px;
        float:left;
        text-transform: uppercase;
        margin-left: -30px;
        &:hover {
          a {
            color:white;
          }
        }
      }
      &.menu-button {
        display:none !important;
      }
      &:hover {
        color: $light;
      }
    }
  }

  &.is-fixed {
    position:fixed;
    top:0;
    box-shadow: -5px 3px 16px $main;


  }
}

section {
  padding-top:2em;
  padding-bottom:2em;
}
//section event
section#event {
  background: $darkBg;
  overflow: hidden;
  .col-md-6{
    display:inline-block;
    float:left;
    img {
      height:300px;
      width:auto;
      float:right;
      bottom: -108px;
      position: relative;
    }
    &.col-md-6:last-child {
      // clear:both;
      // height:200px;
      width: 100%;
      position:absolute;
      // background: url('/assets/img/bcn-fondo.png');
      // background-repeat: no-repeat;

    }
  }
}
//get there section
section.get-there {
  background: $main;
  h4 {
  color: white;
  //text-align: center;
  }
  em {
    color:white;
    font-style: normal;
  }
  p, li {
    //font-size: 0.7em;
    color:$light;
  }
  #map {
    margin-top:20px;
  }
}

//venue-location
#venue-location {

  margin-top:2em;
  .hex-wrap {
    position:relative;

  }
  .bg-img {
    height: 150px;
    width: auto;
    margin:0 auto;
    background-repeat: no-repeat;
    border-radius: 3px;
    padding:20px;
    //border: 2px solid $main;
    &.big {
      width:100%;
      height:250px;
    }
  }

}
//sponsors
section#sponsors {
  background: $main;
  text-align: center;
  p {
    //font-size: 0.8em;
    font-weight: 700;
    margin-top:40px;
    span {
      color:white;
      font-size:0.8em;
      font-weight: 100;
    }
  }
  .hex-wrap {
    background: white;
    border-radius: 2px;
    .bg-img {
      height:100px;
      margin:0 auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
    }
  }
}
//team section

section#team {
  text-align: center;
  background: $darkBg;
  .col-md-4 {
    margin-bottom:40px;
  }

  .hex-wrap {
    position:relative;
  }
  .bg-img {
    height: 150px;
    width: 150px;
    margin:0 auto;
    background-repeat: no-repeat;
    background-position: 5px;

  }
  .hex-wrap::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url("/assets/img/hex-mask.svg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    z-index: 1;
    pointer-events: none;
  }
  p {
    font-size:0.7em;
  }

}

//sponsors-page

#sponsors-page {
    background: $darkBg;
    p {
      font-size: 0.8em;
      line-height: 1.6em;
    }
    .sponsors-table {
      margin-bottom:2em;

        border:1px solid;

      tr {
        td {
          font-weight: normal;
          font-size: 0.7em;
          color: $light;
          padding: 5px;
          text-align:center;
          border-right: 1px solid;
          border-top: 1px solid;
          &.text-center {
            background-color: $main;
          }
          &:last-child {
            border-right: none;
          }
        }
        th {
          color:white;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 0.8em;
          background-color: $main;
        }
      }

      tfoot {
        tr {
          td {
            p {
              font-size: 0.9em;
            }
          }
        }
      }
    }
}

//code of conduct
#code-conduct {
  hr {
    border-color:$light;
  }
  .styled-list {
    li {
      font-size: 0.7em;
      list-style-type: circle;
    }

  }
}

// footer
footer {
  background-color: $main;
  color: $white;
  //margin: 0 0 1em 0;
  .row {
    padding-bottom:1em;
  }
  .logo-footer-blended {
    width: 60px;
    margin-top:-20px;
  }
  .logo-footer-nodeconf {
    width: 150px;
  }
  .footer-right {
    text-align: right;
  }
  .footer-left {
    text-align: left;
  }
  .contact {

    background: #0a060c;
text-align: center;
    h6, a {
      display: inline-block;
      margin:auto;
      margin-top:10px;
      font-weight: 300;
    }
    .wrap {
      max-width: 1000px;
      margin: auto;
      padding:0;

    }
    .link-wrap {
      text-align: right;
      iframe {
        vertical-align: middle;
        margin: 0 0 3px 20px;
      }
    }
    a:first-of-type {
      margin-left:16px;
      margin-right:16px;
    }
  }
  .credits {
    a, b{
          font-size: 0.7rem;
    }
  }
  .cookies {
    display: none;
    width: 100%;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    color: #fff;
    font-size: 13px;
    p {
      margin: 0;
    }
    a {
      text-decoration: underline;
    }
    a, button {
      display: inline-block;
    }
    button {
      position: absolute;
      right: 10px;
      top: 50%;
      padding: 0;
      margin: -12px 0 0;
      background: transparent;
      border: none;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
    .container {
      box-sizing: border-box;
      max-width: 100%;
      margin: 0 auto;
      padding: 0 10px;
      position: relative;
    }
    &.is-open {
      display: block;
    }
  }
}


// shared style small screens
@media(max-width:1024px) {

  #sponsors-page {
    .content {
      padding:0 1em;
    }
  }
}

//tablet

@media(max-width:991px) {
  #header.is-fixed {
    li.menu-button {
      display:block !important;
      padding:10px;
      cursor:pointer;
    }
  }
  #header {
    ul {
      .mobile {
        display: block !important;

      }
      .desktop {
        display:none;
      }
      li {
        padding-top:13px !important;


      }
      li.logo-wrap {
        padding-left:20px;
        padding-right:20px;
        font-size:13px;
        img {
          height:13px;
        }
      }
      li.menu-button {
        display:none;

      }
      li:not(:first-child) {
        display: none;
      }
    }
    .menu-mobile.is-open {
      display: flex !important;

      li.menu-button {
        display:none !important;

      }
    }

    .menu-mobile {
      display:none !important;
      height: 100vh;
      width: 100%;
      flex-wrap: wrap;
      background: $main;
      ul {
        margin: 20% auto;
        width: 70%;
        height: 40%;
        li {
          display: inline-block !important;
          width:100%;
          height: 25%;
          font-size:17px;
          letter-spacing: 2px;
          padding:10px 20px;
          text-transform: uppercase;
          &:first-child {

            float:right !important;
          }
          .fa-circle {
            opacity:0.6;
          }

          .fa-inverse {
            color:$main;

          }
        }
      }
    }
  }
  section#event {
    .mobile {
      display: block !important;

    }
    .desktop {
      display:none;
    }

    .col-md-6 {
      img {
        min-width:300px;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        bottom: -50px;
        position: relative;
      }
    }
  }
  //get there section
  .get-there {
    padding-bottom:0;
    .page-wrap {
      text-align: center;
    }
    .table-responsive {
      p {
        text-align: center;
      }
    }
  }
#venue-location {


    .col-xs-6 {
      margin-bottom: 20px;
      margin-right: 15px;
      margin-left: 15px;

    }
  }

  .page-wrap {
    text-align: center;
  }
  section#team {
      .bg-img {
        height:120px !important;
        width:120px !important;
      }

      .col-md-4 {
        margin-bottom:20px !important;
      }

  }

  footer {
    .page-wrap {
      padding: 0 2em;
    }
  }
}

//mobile

@media(max-width:767px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display:block !important;
  }
  .footer-right,
  .footer-left {
    text-align: center  !important;
  }
  ul {
    padding: 0;
  }
  .conf-title {
    font-size: 1.3em;
  }
  .header {
    padding: 0;
  }
  .banner {

    padding: 1.2em;
  }
  .logo {
    img {
        max-width:185px;
    }
    margin-bottom: 0;

    &.logo:before {
      margin-top: 92px;
      max-width: 295px;
    }
  }
  .header-title {
    font-size: 1.4em !important;
    margin-top: 30px;
    //color: $main;


  }
  .venue-location {

    margin-top:-20px;

  }

  //event section
  section#event {
    .col-md-6 {
      img {
        min-width:300px;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        bottom: -50px;
        position: relative;
      }
    }

  }
    //get there section
  .get-there {
    padding-bottom:0;
    .page-wrap {
      text-align: center;
    }
  }


  //sponsors page
  #sponsors-page {
    .content {
      padding:0 1em;
    }
    .table-responsive {
      p {
        text-align: center;
        padding: 0 2em;
      }
    }
    .sponsors-table {
      width:100%;
    }
  }
}
