@import 'partials/_vars.scss';

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700);
html,
body {
  margin: 0;
  font-family: PT Sans;
  font-size: 1.2em;
  font-weight: 300;
  padding: 0;
  overflow-x: hidden;
  background: rgba(57, 30, 69, 1);
}

a {
  color: #ff7f7f;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.header {
  background: linear-gradient(318deg, #fdbf61, #f5a16f, rgb(255, 163, 102), #ffa37f, #ff7f7f, #ef9351, #ffa37f, #d098af, #fbae94, #ffb94f, #ffcc66, #ff7f7f, #d8a0bc);
  -moz-animation: SunsetGradient 101s linear infinite;
  -o-animation: SunsetGradient 101s linear infinite;
  animation: SunsetGradient 101s linear infinite;
  background-size: 1000% 1000%;
  padding: 0;
  margin: 0;
  text-align: center;

  a {
    font-weight: 500;
  }
  height: 100vh;
}

@-webkit-keyframes SunsetGradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-moz-keyframes SunsetGradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-o-keyframes SunsetGradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@keyframes SunsetGradient {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}



.header-title {
  font-size: 1.8em !important;
  margin-top: 30px;
  color: $main;
}

.wrapper {
  color: $dark;
  padding: 1em;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 550px;
  max-height: 500px;
}

.wrap {
  //height:215px;
  margin: 0 auto;
  padding: 2em;
}

.logo {
  max-width: 300px;
  img {
    max-width: 250px;
    position: relative;
  }

  &::before {
    background-image: url("/assets/img/sun@2x.png");
    opacity: 0.9;
    position: absolute;
    left: 50%;
    margin-top: 125px;
    max-width: 440px;
    -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-background-size: contain;
      -moz-background-size: contain;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      pointer-events: none;
      content: '';
      width: 180%;
      padding-bottom: 180%;
      -webkit-transition: -webkit-transform 1s, opacity 1s;
      -moz-transition: -moz-transform 1s, opacity 1s;
      -o-transition: -o-transform 1s, opacity 1s;
      -ms-transition: -ms-transform 1s, opacity 1s;
      transition: transform 1s, opacity 1s;
      -webkit-transform-origin: 300% 300%;
      -moz-transform-origin: 300% 300%;
      -o-transform-origin: 300% 300%;
      -ms-transform-origin: 300% 300%;
      transform-origin: 300% 300%;
  }
}
.logo:hover:before {

    -webkit-transform: scale(1.2) translate3d(0, 0, 0);
    -moz-transform: scale(1.2) translate3d(0, 0, 0);
    -o-transform: scale(1.2) translate3d(0, 0, 0);
    -ms-transform: scale(1.2) translate3d(0, 0, 0);
    transform: scale(1.2) translate3d(0, 0, 0);
}

.venue-location {
  opacity: 0.7;
  font-size: 0.8em;
  margin-top:-20px;
    margin-bottom: 40px;
    color: $main;
    a {
      color:$main;
      &:hover{
        color:$main;
      }
    }

}


a.button {

  text-decoration: none;
  color: #fff;
  font-size: 16px;

  display: inline-block;
  padding: 20px 30px;
  position: relative;
  z-index: 1;

  overflow: hidden;
  transition: all 1s cubic-bezier(0.65,0.6,0.2,4);

  &:before, &:after {


    position: absolute;

    content: '';
    display: block;
  }

  &:before{
    top: -120px;
    left: 1150px;
    z-index: -1;
    width: calc(100% + 140px);
    height: 100px;
    transition: all 1s cubic-bezier(0.25,0.1,0.2,1);
    transform: skew(0deg);
    background: #ff936e;

  }

  &:after {
    top: 0;
    left: 0;
    z-index: -2;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: #ff6631;
    border-radius: 3px;


  }


  &:hover{
      border-radius: 3px;
    &:before {
      left: -50px;
      top: -20px;
    }
  }

}





// footer
footer {
  background-color: rgba(57, 30, 69, 0.9);
  color: $white;

  .logo-footer-bcnjs {
    width: 50px;
  }
  .logo-footer-nodeconf {
    width: 150px;
  }
  .footer-right {
    text-align: right;
  }
  .footer-left {
    text-align: left;
  }
  .credits {
    a, b{
          font-size: 0.7rem;
    }
  }
}





@media(max-width:767px) {

  .footer-right,
  .footer-left {
    text-align: center  !important;
  }
  ul {
    padding: 0;
  }
  .conf-title {
    font-size: 1.3em;
  }
  .header {
    padding: 0;
  }
  .banner {

    padding: 1.2em;
  }
  .logo {
    margin-bottom: 0;
  }



  .header-title {
    font-size: 1.4em !important;
    margin-top: 30px;
    color: $main;


  }
  .venue-location {

    margin-top:-20px;

  }
}
