{{> head}}
<body id="sponsors-page">
  {{>nav}}

<div id="code-conduct" class="content">
  <div class="row">
    <div class="page-wrap">
      <h2>Code of Conduct</h2>
      <p>All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct.
        Organisers will enforce this code throughout the event. We expect cooperation from all participants to help ensure a safe environment
        for everybody.</p>
      <!--from here until end, the source is from http://www.nodetogether.org/CoC.html &/or http://contributor-covenant.org/version/1/4/ -->
      <h4>Our Pledge</h4>
      <p>In the interest of fostering an open and welcoming environment,
        we as contributors and maintainers pledge to making participation in our project and our community a harassment-free experience for everyone,
        regardless of age, body size, disability,
        ethnicity, gender identity and expression, level of experience, nationality, personal appearance, race, religion,
        or sexual identity and orientation.</p>
      <h4>Our Standards</h4>
      <p>Examples of behavior that contributes to creating a positive environment include:</p>
      <ul>
        <li>Using welcoming and inclusive language</li>
        <li>Being respectful of differing viewpoints and experiences</li>
        <li>Gracefully accepting constructive criticism</li>
        <li>Focusing on what is best for the community</li>
        <li>Showing empathy towards other community members</li>
      </ul>
      <p>Examples of unacceptable behavior by participants include:</p>
      <ul>
        <li>The use of sexualized language or imagery and unwelcome sexual attention or advances</li>
        <li>Trolling, insulting/derogatory comments, and personal or political attacks</li>
        <li>Public or private harassment</li>
        <li>Publishing others' private information, such as a physical or electronic address, without explicit permission</li>
        <li>Other conduct which could reasonably be considered inappropriate in a professional setting</li>
      </ul>

      <hr>
      <h4>Our Responsibilities</h4>
      <p>Project maintainers are responsible for clarifying the standards of acceptable behavior and are expected to take appropriate and fair
        corrective action in response to any instances of unacceptable behavior.</p>
      <p>Project maintainers have the right and responsibility to remove, edit, or reject comments, commits, code, wiki edits, issues,
        and other contributions that are not aligned to this Code of Conduct,
        or to ban temporarily or permanently any contributor for other behaviors that they deem inappropriate, threatening, offensive, or harmful.</p>

      <hr>
      <h4>Scope</h4>
      <p></p>
      <ul class="styled-list">
        <li><span>Original source and credit: <a href='http://2012.jsconf.us/#/about' target='_blank'>http://2012.jsconf.us/#/about</a> &amp; The <a href='http://adainitiative.org/' target='_blank'>Ada Initiative</a></span></li>
        <li><span>Please help by translating or improving: <a href='http://github.com/leftlogic/confcodeofconduct.com' target='_blank'>http://github.com/leftlogic/confcodeofconduct.com</a></span></li>
        <li><span>This work is licensed under a Creative Commons Attribution 3.0 Unported License</span></li>
      </ul>
      </div>
    </div>
  </div>
</div>
</div>


  {{>footer}}
