<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{#title}}
    <title>NodeConf Barcelona - {{title}}</title>
  {{/title}}
  {{^title}}
    <title>NodeConf Barcelona 2015</title>
  {{/title}}
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/nodeconf.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>
  <div class="container-fluid">
  {{>header}}

  <div class="content">
    {{>sponsors}}

    {{>venue}}

    {{>schedule}}

    {{{contents}}}
  </div>

  </div>

  {{>footer}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>

</html>
