{{> head}}
<body>
  {{>header}}

    <!-- {{>teaser}} -->

<div class="header">
  <div class="row">
      <div class="wrapper">
          <a class="logo" href="/">
              <img  src="/assets/img/nodeconfBarcelona.png">
          </a>
            <h1 class="header-title"> BARCELONA NODECONF 2016</h1>
          <div class="row center-xs">
              <div class="col-xs-12 margin-top">
                  <p class="venue-location">
                      18th November 2016 · <a href="https://www.mobileworldcentre.com">Barcelona Mobile World Centre</a>
                  </p>

                  <div class="col-xs-12">

                      <a href="https://www.papercall.io/events/130" target="_blank"  class="button">CALL FOR SPEKEARS</a>

                  </div>

              </div>
          </div>
      </div>
  </div>
  </div>
  {{>footer}}
