{{> head}}
<body  id="sponsors-page">
  {{>nav}}

  <div class="content">

    {{{contents}}}

  </div>

  <div class="row">
  <div class="page-wrap sponsors-table-wrapper">
    <h4 class="text-center">Sponsorship Packages</h4>
    <div>
      <table class="table-responsive sponsors-table">
        <thead>

          <tr>
            <th><h4>Startup</h4></th>
            <th><h4>Asynchronous</h4></th>
            <th><h4>Synchronous</h4></th>
            <th>
              <h4>DevOps Combo</h4>
              <p>Also sponsor <a href="https://ti.to/blended/orchestrate-2017">Orchestrate</a></p>
            </th>
          </tr>

        </thead>
        <tfoot>
          <tr>
            <td colspan="4">
            </br>
              <p>* Support attendees who would not be able to attend the conference because they're underrepresented groups in tech or they cannot afford the costs of attending </p>
              <p>To enquire about sponsorship or media access, please contact us at <a href="mailto:nodeconf@blended.io?subject=NodeConf&nbsp;Sponsorship">nodeconf@blended.io</a>.</p>
            </td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>€ 350</td>
            <td>€ 500</td>
            <td>€ 1000</td>
            <td>€ 1500</td>
          </tr>
          <tr class="tickets">
            <td><i class="fa fa-ticket"></i><br>incl. 1 Ticket</td>
            <td><i class="fa fa-ticket"></i><br>incl. 1 Tickets</td>
            <td><i class="fa fa-ticket"></i><br>incl. 3 Tickets</td>
            <td><i class="fa fa-ticket"></i><br>incl. 5 Tickets</td>
          </tr>
          <tr>
            <td>Shared Table</td>
            <td>Shared Table</td>
            <td>Sponsor Table</td>
            <td>Sponsor Table</td>
          </tr>
          <tr>
            <td colspan="4" class="text-center">
              <h4>Branding</h4>
            </td>
          </tr>
          <tr>
            <td>Logo on Website</td>
            <td>Logo on Website</td>
            <td>Logo on Website</td>
            <td>Logo on both Websites</td>
          </tr>
          <tr>
            <td>Bring Merchandising</td>
            <td>Bring or Send Merchandising</td>
            <td>Bring or Send Merchandising</td>
            <td>Bring or Send Merchandising</td>
          </tr>
          <tr>
            <td colspan="4">Logo on Lanyards (+ € 300, exclusive)</td>
          </tr>
          <tr>
            <td colspan="4">Your branding flag at the back of the stage (+ € 500, exclusive)</td>
          </tr>
          <!--<tr>
            <td colspan="4">Branded Coffee Table (+ € 400, exclusive)</td>
          </tr>-->
          <tr>
            <td colspan="4" class="text-center">
              <h4>Diversity Package*</h4>
            </td>
          </tr>
          <tr>
            <td>Add &gt;= € 150 to the pool</td>
            <td>Add &gt;= € 150 to the pool</td>
            <td>Add &gt;= € 150 to the pool</td>
            <td>Add &gt;= € 150 to the pool</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


  {{>footer}}
