{{> head}}
<body  id="sponsors-page">
  {{>nav}}

  <div class="content">

    {{{contents}}}

  </div>

  <div class="row">
  <div class="page-wrap">
    <h4 class="text-center">Sponsorship Packages</h4>
    <div class="table-responsive desktop">
      <table class="table-responsive sponsors-table">
        <thead>

          <tr>
            <th><h4>Startup</h4></th>
            <th><h4>Sponsor</h4></th>
            <th><h4>Asynchronous</h4></th>
            <th><h4>Synchronous</h4></th>
            <th><h4>Party</h4></th>
          </tr>

        </thead>
        <tfoot>
          <tr>
            <td colspan="5">
            </br>
              <p>* Support attendees who would not be able to attend the conference because they're underrepresented groups in tech or they cannot afford the costs of attending </p>
              <p>To enquire about sponsorship or media access, please contact Patrick at <a href="mailto:patrick@barcelonajs.org?subject=NodeConf&nbsp;Sponsorship">patrick@barcelonajs.org</a> or for general info <a href="mailto:nodeconf@barcelonajs.org">nodeconf@barcelonajs.org</a></p>
            </td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>€ 250</td>
            <td>€ 350</td>
            <td>€ 550</td>
            <td>€ 750</td>
            <td>€ 2500</td>
          </tr>
          <tr class="tickets">
            <td><i class="fa fa-ticket"></i><br>incl. 1 Ticket</td>
            <td><i class="fa fa-ticket"></i><br>incl. 1 Ticket</td>
            <td><i class="fa fa-ticket"></i><br>incl. 2 Tickets</td>
            <td><i class="fa fa-ticket"></i><br>incl. 3 Tickets</td>
            <td><i class="fa fa-ticket"></i><br>incl. 5 Tickets</td>
          </tr>
          <tr>
            <td>Table</td>
            <td><i class="fa fa-times"></i></td>
            <td>Table</td>
            <td>Sponsor Table</td>
            <td>Sponsor Table</td>
          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Branding</h4>
            </td>
          </tr>
          <tr>
            <td>Logo on Website</td>
            <td>Logo on Website</td>
            <td>Logo on Website</td>
            <td>Logo on Website</td>
            <td>Logo on Website</td>
          </tr>
          <tr>
            <td>Bring Swag</td>
            <td>Bring Swag</td>
            <td>Bring/Send Swag</td>
            <td>Bring/Send Swag</td>
            <td>Bring/Send Swag</td>
          </tr>
          <tr>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td>Logo on T-Shirt or Lanyards<br>(+ € 300)</td>
            <td>Logo on T-Shirt or Lanyards<br>(+ € 300)</td>
            <td>Logo on T-Shirt or Lanyards</td>
          </tr>
          <tr>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td>Your branding flag<br>at<br>the back of the stage<br>(+ € 500)</td>
            <td>Your branding flag<br>at<br>the back of the stage<br>(+ € 500)</td>
            <td>Your branding flag<br>at<br>the back of the stage<br>(+ € 500)</td>
          </tr>
          <tr>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td>Branded Coffee Table<br>(+ € 300)</td>
            <td>Branded Coffee Table<br>(+ € 300)</td>
          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Diversity Package*</h4>
            </td>
          </tr>
          <tr>
            <td>Add &gt;= € 150 to the pool</td>
            <td>Add &gt;= € 150 to the pool</td>
            <td>Add &gt;= € 150 to the pool</td>
            <td>Add &gt;= € 150 to the pool</td>
            <td>Add &gt;= € 150 to the pool</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--
    <div class="table-responsive mobile">
      <table class="table-responsive sponsors-table">
        <thead>

          <tr>
            <th><h4>Startup</h4></th>

          </tr>

        </thead>
        <tbody>
          <tr>
            <td>400,-</td>

          </tr>
          <tr class="tickets">
            <td><i class="fa fa-ticket"></i><br>incl. 1 Ticket </td>

          </tr>
          <tr>
            <td>Table</td>

          </tr>
          <tr>
            <td><i class="fa fa-times"></i></td>

          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Recruiting</h4>
            </td>
          </tr>
          <tr>
            <td>Free job listing on
              <br /> JobFluent (value 99,-)</td>

          </tr>
          <tr>
            <td><i class="fa fa-times"></i></td>

          </tr>
          <tr>
            <td>Resumes</td>

          </tr>
          <tr>
            <td><i class="fa fa-times"></i></td>

          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Branding</h4>
            </td>
          </tr>
          <tr>
            <td>Logo on Website</td>

          </tr>
          <tr>
            <td>Bring Swag</td>

          </tr>
          <tr style="display:none">
            <td><i class="fa fa-times"></i></td>

          </tr>
        </tbody>
        <thead>

          <tr>

            <th><h4>Sponsor</h4></th>

          </tr>

        </thead>

        <tbody>
          <tr>

            <td>650,-</td>

          </tr>
          <tr class="tickets">

            <td><i class="fa fa-ticket"></i><br>incl. 2 Tickets </td>

          </tr>
          <tr>

            <td><i class="fa fa-times"></i></td>

          </tr>
          <tr>
            <td><i class="fa fa-times"></i></td>

          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Recruiting</h4>
            </td>
          </tr>
          <tr>

            <td><i class="fa fa-times"></i></td>

          </tr>
          <tr>

            <td><i class="fa fa-times"></i></td>

          </tr>
          <tr>

            <td><i class="fa fa-times"></i></td>

          </tr>
          <tr>

            <td><i class="fa fa-times"></i></td>

          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Branding</h4>
            </td>
          </tr>
          <tr>

            <td>Logo on Website</td>
          </tr>
          <tr>

            <td>Bring Swag</td>

          </tr>
          <tr style="display:none">
            <td><i class="fa fa-times"></i></td>

          </tr>
        </tbody>
        <thead>

          <tr>

            <th><h4>Asynchronous</h4></th>

          </tr>

        </thead>

        <tbody>
          <tr>


            <td>1000,-</td>

          </tr>
          <tr class="tickets">

            <td><i class="fa fa-ticket"></i><br>incl. 3 Tickets </td>

          </tr>
          <tr>

            <td>Sponsor Table</td>
          </tr>
          <tr>

            <td><i class="fa fa-times"></i></td>

          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Recruiting</h4>
            </td>
          </tr>
          <tr>

            <td>4 free job listings on
              <br /> JobFluent (value 299,-)</td>

          </tr>
          <tr>

            <td>Send Recruiting Materials</td>

          </tr>
          <tr>

            <td><i class="fa fa-times"></i></td>

          </tr>
          <tr>
            <td><i class="fa fa-times"></i></td>

          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Branding</h4>
            </td>
          </tr>
          <tr>
            <td>Logo on Website</td>

          </tr>
          <tr>

            <td>Bring/Send Swag</td>

          </tr>
          <tr style="display:none">

            <td>Logo on T-Shirt</td>

          </tr>
        </tbody>
        <thead>

          <tr>

            <th><h4>Synchronous</h4></th>

          </tr>

        </thead>

        <tbody>
          <tr>

            <td>1500,-</td>
          </tr>
          <tr class="tickets">

            <td><i class="fa fa-ticket"></i><br>incl. 5 Tickets </td>

          </tr>
          <tr>

            <td>Sponsor Table</td>
          </tr>
          <tr>

            <td>Branded Coffee Table or Lanyards</td>

          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Recruiting</h4>
            </td>
          </tr>
          <tr>

            <td>4 free job listings on
              <br /> JobFluent (value 299,-)</td>
          </tr>
          <tr>

            <td>Distribute Recruiting Materials</td>
          </tr>
          <tr>

            <td>Resumes</td>
          </tr>
          <tr>

            <td>Send Recruiters</td>
          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Branding</h4>
            </td>
          </tr>
          <tr>
            <td>Logo on Website</td>

          </tr>
          <tr>

            <td>Bring/Send Swag</td>

          </tr>
          <tr style="display:none">

            <td>Logo on T-Shirt</td>

          </tr>
        </tbody>
        <thead>

          <tr>

            <th><h4>Party</h4></th>
          </tr>

        </thead>

        <tbody>
          <tr>

            <td>2500,-</td>
          </tr>
          <tr class="tickets">

            <td><i class="fa fa-ticket"></i><br>incl. 5 Tickets </td>
          </tr>
          <tr>

            <td>Sponsor Table</td>
          </tr>
          <tr>

            <td>Sponsor After-Party</td>
          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Recruiting</h4>
            </td>
          </tr>
          <tr>

            <td>4 free job listings on
              <br /> JobFluent (value 299,-)</td>
          </tr>
          <tr>

            <td>Distribute Recruiting Materials</td>
          </tr>
          <tr>

            <td>Resumes</td>
          </tr>
          <tr>

            <td>Send Recruiters</td>
          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Branding</h4>
            </td>
          </tr>
          <tr>

            <td>Logo on Website</td>
          </tr>
          <tr>

            <td>Bring/Send Swag</td>
          </tr>
          <tr style="display:none">

            <td>Logo on T-Shirt</td>
          </tr>
        </tbody>
      </table>
      <p>* Support attendees who would not be able to attend the conference because they're underrepresented groups in tech or they cannot afford the costs of attending </p>
      <p>To enquire about sponsorship or media access, please contact Patrick at <a href="mailto:patrick@barcelonajs.org?subject=NodeConf&nbsp;Sponsorship">patrick@barcelonajs.org</a> or for general info <a href="mailto:nodeconf@barcelonajs.org">nodeconf@barcelonajs.org</a></p>
    -->

    </div>
  </div>
</div>


  {{>footer}}
