{{> head}}
<body>
  {{>header}}

  <div class="content">

    {{{contents}}}

  </div>

  <div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Sponsorship Packages</h2>
    <div class="table-responsive">
      <table class="table-responsive sponsors-table">
        <thead>
          <tr>
            <th>Startup</th>
            <th>Sponsor</th>
            <th>Asynchronous</th>
            <th>Synchronous</th>
            <th>Party</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="5">
              <p>To enquire about sponsorship or media access, please contact Patrick at <a href="mailto:patrick@barcelonajs.org?subject=NodeConf&nbsp;Sponsorship">patrick@barcelonajs.org</a> or for general info <a href="mailto:nodeconf@barcelonajs.org">nodeconf@barcelonajs.org</a></p>
            </td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>400,-</td>
            <td>650,-</td>
            <td>1000,-</td>
            <td>1500,-</td>
            <td>2500,-</td>
          </tr>
          <tr>
            <td>incl. 1 Ticket <i class="fa fa-ticket"></i></td>
            <td>incl. 2 Tickets <i class="fa fa-ticket"></i></td>
            <td>incl. 3 Tickets <i class="fa fa-ticket"></i></td>
            <td>incl. 5 Tickets <i class="fa fa-ticket"></i></td>
            <td>incl. 5 Tickets <i class="fa fa-ticket"></i></td>
          </tr>
          <tr>
            <td>Table</td>
            <td><i class="fa fa-times"></i></td>
            <td>Sponsor Table</td>
            <td>Sponsor Table</td>
            <td>Sponsor Table</td>
          </tr>
          <tr>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td>Branded Coffee Table or Lanyards</td>
            <td>Sponsor After-Party</td>
          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Recruiting</h4>
            </td>
          </tr>
          <tr>
            <td>Free job listing on
              <br /> JobFluent (value 99,-)</td>
            <td></td>
            <td>4 free job listings on
              <br /> JobFluent (value 299,-)</td>
            <td>4 free job listings on
              <br /> JobFluent (value 299,-)</td>
            <td>4 free job listings on
              <br /> JobFluent (value 299,-)</td>
          </tr>
          <tr>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td>Send Recruiting Materials</td>
            <td>Distribute Recruiting Materials</td>
            <td>Distribute Recruiting Materials</td>
          </tr>
          <tr>
            <td>Resumes</td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td>Resumes</td>
            <td>Resumes</td>
          </tr>
          <tr>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td>Send Recruiters</td>
            <td>Send Recruiters</td>
          </tr>
          <tr>
            <td colspan="5" class="text-center">
              <h4>Branding</h4>
            </td>
          </tr>
          <tr>
            <td>Logo on Website</td>
            <td>Logo on Website</td>
            <td>Logo on Website</td>
            <td>Logo on Website</td>
            <td>Logo on Website</td>
          </tr>
          <tr>
            <td>Bring Swag</td>
            <td>Bring Swag</td>
            <td>Bring/Send Swag</td>
            <td>Bring/Send Swag</td>
            <td>Bring/Send Swag</td>
          </tr>
          <tr style="display:none">
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td>Logo on T-Shirt</td>
            <td>Logo on T-Shirt</td>
            <td>Logo on T-Shirt</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


  {{>footer}}
