<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NodeConf Barcelona - {{title}}</title>
  <link rel="stylesheet" href="/assets/css/foundation.css" />
  <link rel="stylesheet" href="/css/nodeconf.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>

  <div class="row">
    <div class="large-12 columns">
      <a href="/" class="logo nodeconf"></a>
      <h2>{{title}}</h2>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/assets/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>
