//get there section
section.get-there {
  background: $main;
  h4 {
  color: white;
  //text-align: center;
  }
  em {
    color:white;
    font-style: normal;
  }
  p, li {
    //font-size: 0.7em;
    color:$light;
  }
  #map {
    margin-top:20px;
  }

  @media(max-width:991px) {
    padding-bottom:0;
    .page-wrap {
      text-align: center;
    }
    .table-responsive {
      p {
        text-align: center;
      }
    }
  }
  @media(max-width:767px) {
    padding-bottom:0;
    .page-wrap {
      text-align: center;
    }
  }
}
//venue-location
#venue-location {
  margin-top:2em;
  .hex-wrap {
    position:relative;

  }
  .bg-img {
    height: 150px;
    width: auto;
    margin:0 auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    padding:20px;
    //border: 2px solid $main;
    &.big {
      width:100%;
      height:250px;
    }
  }
  @media(max-width:991px) {
    .col-xs-6 {
      margin-bottom: 20px;
    }
  }
}
